<h1>Tip of My Tongue - Results </h1>

<% @drinks.each do |name| %>
  <p><%= name.fetch("strDrink") %></p>
  <% image = name.fetch("strDrinkThumb").to_s %>
  <% image = image + "/preview" %>
  <img src="<%=image%>" alt="thumbnail of the drink">
<% end %>
