<h1>Tip of My Tongue</h1>
<form action="/ingredient_result">
  <label for="form_first_letter">
    Enter the first letter of the drink you're thinking of:
  </label>
  <input id="form_first_letter" name="letter" text="text" maxlength="1">
  <button>
    Search for cocktails!
  </button>
</form>
