<h1>Welcome</h1>

<p>You can search for a cocktail by it's name by clicking "Search by Name"</p>
<p>If you know the first letter of the cocktail, you can type the letter in "Tip of my Tongue" and it'll return a list of cocktails.</p>
<p>If you have an ingredient that you really want to use, type it in under "Search by ingredient" and get some suggestions of what you can make</p>
<p>Under "Contains Alcohol?" you can search if a cocktail contains Alcohol or if it's non-alcoholic</p>
<p>Maybe take a walk on the wild side and click "Random" to get a random cocktail</p>
