<h1>Search by Ingredient</h1>
<div>
<form action="/ingredient_result">
  <label for="form_ingredient">
    Enter the ingredient to look for:
  </label>
  <input id="form_ingredient" name="ingredient text="text">
  <button>
    Search for cocktails!
  </button>
</form>
</div>
