<h1>Search by Name</h1>
<form action="/name_result">
  <label for="form_name">
    Enter the name of the drink to search for:
  </label>
  <input id="form_name" name="name" text="text">
  <button>
    Search for cocktails!
  </button>
</form>
